.image-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.upload-container {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.upload-label {
    display: inline-block;
    cursor: pointer;
    color: #5a5a5a;
}

#image-preview {
    object-fit: cover;
}

.upload-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}