{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
	Administration Kestuf
{% endblock %}
{% block main %}
	<div class="content">
		<h1>Administration Kestuf</h1>
		<p>Bienvenue sur l'interface d'administration de Kestuf.</p>
	</div>
{% endblock %}
