{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
	Administration Kestuf
{% endblock %}
{% block main %}
	<div class="content">
		<p>Bienvenue sur l'interface d'administration de Kestuf.</p>
	</div>
{% endblock %}
