{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Modification d'une catégorie
{% endblock %}

{% block page_actions %}
	<a href="{{ path('admin_category') }}" class="btn btn-secondary">
		<i class="fa fa-reply"></i>
		Retour à la liste des catégories
	</a>
{% endblock %}

{% block content_title %}Modification d'une catégorie
{% endblock %}

{% block main %}
	{{ form_start(formCategory) }}
	{{ form_row(formCategory) }}
	<button type="submit" class="btn btn-primary">Modifier</button>
	{{ form_end(formCategory) }}
{% endblock %}
