{% extends 'base.html.twig' %}

{% block body %}
	<div class="container text-center mt-5">
		<a href="{{ path('app_event') }}" aria-label="Retour à la page des évènements">
			<img src="{{ asset('images/kestuf_orange.png') }}" alt="Logo Kestuf' en orange">
		</a>
	</div>

	<main class="container my-5">
		<h1 class="text-center color-main fw-black fs-36px">Vous n'êtez pas autorisé à accéder à cette page</h1>

		<p class="text-center fw-regular fs-18px my-5">
			<a class="text-decoration-underline" href="{{ path('app_event') }}">retournez à la page d'accueil</a>.
		</p>
	</main>
	{% include 'components/_footer.html.twig' %}
{% endblock %}
